<nav>
  <div class="header-left-content test2">
    <h1>Chat application</h1>
    <h5>by Sandip</h5>
  </div>

  <ul class="main-menu" *ngIf="!userStatus">
    <li>
      <a [routerLink]="['/user/login']" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a [routerLink]="['/user/register']" routerLinkActive="active"
        >Register</a
      >
    </li>
  </ul>

  <ul class="main-menu" *ngIf="userStatus">
    <li>
      <a [routerLink]="['/user/chat']" routerLinkActive="active">Chat</a>
    </li>
    <li>
      <a (click)="userLogout()" [routerLink]="" routerLinkActive="active"
        >Logout</a
      >
    </li>
  </ul>
</nav>
